@font-face {
    font-family: 'Manrope';
    font-weight: 100 1000;
    font-style: normal;
    src: url('../fonts/Manrope[wght].woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/cabin/v26/u-4V0qWljRw-Pd815fNqc8T_wAFcX-c37MPiNYlWniJ2hJXHx_Klwg.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/cabin/v26/u-4V0qWljRw-Pd815fNqc8T_wAFcX-c37MPiNYlWniJ2hJXHIPWlwg.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/cabin/v26/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkV2EL7E.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/cabin/v26/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkbqDL7E.ttf') format('truetype');
}

@font-face {
    font-family: 'Piazzolla';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/piazzolla/v35/N0b72SlTPu5rIkWIZjVgI-TckS03oGpPETyEJ88Rbvi0_TzOzKcQhZqw3gU.ttf') format('truetype');
}

@font-face {
    font-family: 'Piazzolla';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/piazzolla/v35/N0b72SlTPu5rIkWIZjVgI-TckS03oGpPETyEJ88Rbvi0_TzOzKcQhX223gU.ttf') format('truetype');
}

@font-face {
    font-family: 'Piazzolla';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/piazzolla/v35/N0b52SlTPu5rIkWIZjVKKtYtfxYqZ4RJBFzFfYUjkSDdlqZgy7LYx3Ly.ttf') format('truetype');
}

@font-face {
    font-family: 'Piazzolla';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/piazzolla/v35/N0b52SlTPu5rIkWIZjVKKtYtfxYqZ4RJBFzFfYUjkSDdlqZgy7I_wXLy.ttf') format('truetype');
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GilbeotRainbow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/GilbeotRainbow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/libre-baskerville-v14-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/libre-baskerville-v14-latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../fonts/libre-baskerville-v14-latin-italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bolditalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/jetbrains-mono-v13-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/jetbrains-mono-v13-latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 800;
    src: local(""), url("../fonts/jetbrains-mono-v13-latin-800.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../fonts/jetbrains-mono-v13-latin-italic.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    font-weight: 700;
    src: local(""), url("../fonts/jetbrains-mono-v13-latin-700italic.woff2") format("woff2");
}
